.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: white;
}
.container{
  display: flex;
  flex-direction: column;
  height: 80vh;
  border: solid 1px grey;
  padding: 20px;
  align-items: center;
  font-size: 20px;
  color: white;
}
.todoForm{
  display: flex;
  justify-content: space-around;
  width: 450px;
}

input{
  width: 80vw;
  padding: 10px;
  border-radius: 20px;
  border: none;
}
button{
  border:none;
  padding:10px;
  border-radius: 20px;
  margin: 0 5px;
  cursor: pointer;
}
.allTodos{
  margin: 0;
  padding:0;
  list-style: none;
}
 
.singleTodo{
  border-radius: 50px;
  background-color: #5dadf8;
  margin: 10px 0;
  padding:10px 20px;
  display: flex;
  width:450px;
  align-items: center;
}
.todoText{
  flex:1;

}